<launch>
    <arg name="rname" default="go1l2"/>
    <arg name="rviz" default="false"/>
    <arg name="rosbag" default="true"/>
    <arg name="slam_method" default="fastlio"/>
    
    <!-- 从gazebo插件输出的绝对位置到tf树的转换 -->
    <node pkg="gt_tf_pub" type="gt_tf_pub" name="gt_tf_pub" output="screen">
        <param name="odom_topic" value="/gazebo_odom" />
    </node>

    <!-- 是否开启rviz -->
    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" 
            args="--display-config $(find unitree_guide)/rviz/config.rviz">
        </node>
    </group>

    <!-- 是否使用rosbag进行record -->
    <group if="$(arg rosbag)">
        <include file="$(find unitree_guide)/launch/low_level/rosbagRecord.launch">
            <arg name="slam_prefix" value="$(arg slam_method)"/>
        </include>
    </group>

    <!-- 将输出的tf转换为路径 -->
    <include file="$(find tf_to_path)/launch/tf_to_path.launch"/>
    
    <!-- 静态tf发布节点 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_publisher1" 
          args="0 0 0 0 0 0 world legged_estimator_world"/>

    <!-- 静态tf发布节点 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_publisher2" 
          args="0 0 0 0 0 0 world slam_estimator_world"/>

</launch>