<!-- 仿真环境构建 机器人模型加载 -->
<launch>
    <!-- <arg name="wname" default="willowgarage"/> -->
    <arg name="world_class" default="outdoor_worlds"/>
    <!-- <arg name="wname" default="outdoor_bigscale"/> -->
    <arg name="wname" default="outdoor_water3"/>
    <!-- <arg name="wname" default="example_course"/> -->
    <arg name="rname" default="go1l2"/>
    <arg name="robot_path" value="(find $(arg rname)_description)"/>
    <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.0"/>
    <arg name="spawn_z" default="$(eval 3.6 if arg('wname') == 'outdoor_water3' else 0.6)"/>


    <arg name="dollar" value="$"/>
    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <arg name="user_debug" default="false"/>
    <arg name="rviz" default="true"/>
    <arg name="rosbag" default="false"/>
    <arg name="slam_method" value = "point_lio" doc = "fast_lio point_lio"/>


    <!-- 加载gazebo环境 -->
    <include file="$(find unitree_guide)/launch/low_level/gazeboLoad.launch">
        <arg name="wname" value="$(arg wname)"/>
        <arg name="world_class" value="$(arg world_class)"/>
    </include>

    <!-- 在gazebo中加载机器人模型(加载模型，urdf生成，加载位置) -->
    <include file="$(find unitree_guide)/launch/low_level/robotLoad.launch">
        <arg name="rname" value="$(arg rname)"/>
        <arg name="robot_path" value="$(arg robot_path)"/>
        <arg name="dollar" value="$(arg dollar)"/>
        <arg name="spawn_x" value="$(arg spawn_x)"/>
        <arg name="spawn_y" value="$(arg spawn_y)"/>
        <arg name="spawn_z" value="$(arg spawn_z)"/>

    </include>

</launch>
